body{
    font-family: Arial, Helvetica, sans-serif;
    color: #777;
    background: #777;
    width: 960px;
    font-size: 18px;
}

.header{
    
    text-align: center;
    height: 100px;
    margin: 25px;
    width: 960px;
    background: #ebebeb
}

.nav{
    height: 100px;
    margin: 25px;
    text-align:center;
    background: #ebebeb;
    width: 960px;
    
}

.section{
    
    text-align: center;
    background: #ebebeb;
    width: 495px;
}

.aside{
    position: fixed;
    right: 25px;
    top: 300px;
    left: 550px;
    height: 100px;
    text-align: center;
    background: #ebebeb;
    width: 495px;
}

.footer{
    height: 100px;
    margin: 25px;
    text-align: center;
    background: #ebebeb;
    width: 960px;
}

.article{
    
    padding-inline-end: 25px;
    text-align: center;
    color: #ebebeb;
    background: #777;
    width: 495px;
}

.h1{
    width: 495px;
    background: #ebebeb;
    color: #777;
}

.p{
    background: #ebebeb;
    color: #777;
}



